<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.SteelAmbition.Wayfarer"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:theme="@style/WayfarerTheme">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Goals.GoalExtended"
                  android:label="@string/goalsTitle"
                  android:parentActivityName=".MainActivity"/>

        <activity android:name=".Authentication.RegisterActivity"
        android:label="@string/registerTitle"
        android:parentActivityName=".MainActivity"/>

        <activity android:name=".Authentication.CreateSubjectActivity"
                  android:label="@string/createSubjectTitle"
                  android:parentActivityName=".MainActivity"/>

        <activity android:name=".Dangers.DangerExtended"
                  android:label="@string/dangersTitle"
                  android:parentActivityName=".MainActivity"/>

        <activity android:name=".Information.InformationExtended"
                  android:label="@string/infoTitle"
                  android:parentActivityName=".MainActivity"/>

        <activity android:name=".Questions.QuestionActivity"
                  android:label="@string/question"
                  android:parentActivityName=".MainActivity"/>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="03efe68dbbfa65529bfe123bb62c286916870fc4"/>

        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="com.SteelAmbition.Wayfarer" android:label="App Tests" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
